[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
amqp = "*"
asgiref = "*"
attrs = "*"
autobahn = "*"
automat = "*"
billiard = "*"
celery = "*"
certifi = "*"
cffi = "*"
channels = "*"
channels-redis = "*"
charset-normalizer = "*"
click = "*"
click-didyoumean = "*"
click-plugins = "*"
click-repl = "*"
colorama = "*"
constantly = "*"
cryptography = "*"
daphne = "*"
distlib = "*"
django = "*"
django-cors-headers = "*"
django-multiupload = "*"
django-simpleui = "*"
djangorestframework = "*"
djangorestframework-jwt = "*"
djangorestframework-simplejwt = "*"
drf-yasg = "*"
filelock = "*"
h2 = "*"
hpack = "*"
hyperframe = "*"
hyperlink = "*"
idna = "*"
incremental = "*"
inflection = "*"
kombu = "*"
msgpack = "*"
mysqlclient = "*"
oauthlib = "*"
packaging = "*"
pillow = "*"
pipenv = "*"
platformdirs = "*"
priority = "*"
prompt-toolkit = "*"
pyasn1 = "*"
pyasn1-modules = "*"
pycparser = "*"
pyjwt = "*"
pyopenssl = "*"
pyotp = "*"
python-dateutil = "*"
python-dotenv = "*"
pytz = "*"
pyyaml = "*"
redis = "*"
requests = "*"
requests-oauthlib = "*"
service-identity = "*"
six = "*"
sqlparse = "*"
twisted = "*"
txaio = "*"
typing-extensions = "*"
tzdata = "*"
uritemplate = "*"
urllib3 = "*"
vine = "*"
virtualenv = "*"
virtualenvwrapper-win = "*"
wcwidth = "*"
whitenoise = "*"
"zope.interface" = "*"
adrf = "*"

[dev-packages]

[requires]
python_version = "*"
