amqp
asgiref
attrs
autobahn
Automat
billiard
celery
certifi
cffi
channels
channels-redis
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
constantly
cryptography
daphne
distlib
Django
django-cors-headers
django-multiupload
django-simpleui
djangorestframework
djangorestframework-jwt
djangorestframework-simplejwt
drf-yasg
filelock
h2
hpack
hyperframe
hyperlink
idna
incremental
inflection
kombu
msgpack
mysqlclient
oauthlib
packaging
pillow
pipenv
platformdirs
priority
prompt_toolkit
pyasn1
pyasn1_modules
pycparser
PyJWT
pyOpenSSL
pyotp
python-dateutil
python-dotenv
pytz
PyYAML
redis
requests
requests-oauthlib
service-identity
setuptools
six
sqlparse
Twisted
txaio
typing_extensions
tzdata
uritemplate
urllib3
vine
virtualenv
virtualenvwrapper-win
wcwidth
whitenoise
zope.interface
adrf
psycopg3